.databricks
CLAUDE.md
sample_code.yml
.vscode
.ruff_cache
.venv/*
.venv
src/core/__pycache__ 
src/steps/__pycache__ 
/FrameworkIA/*
/bundles/*
/FrameworkIA/
/bundles/
__pycache__/
*.pyc
src/steps/indexing/__pycache__/*
push_secrets_to_kv.sh
.env
.codex
